<div class=" navs z-3">
    <div class="logo">
        <img src="/static/assets/images/home-logo.png" alt="home logo" />
    </div>
    <div class="menu">
        <ul class="menu-container" id="menus">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contacts</a></li>
            <li><span></span></li>
            <li>
              <a href="#"
                ><img
                  src="/static/assets/images/home-cart-icon.png"
                  alt="home cart icon"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="/static/assets/images/home-admin-icon.png"
                  alt="home user icon"
              /></a>
            </li>
        </ul>
    </div>
    <div class=" hamburger" id="ham">
      <span></span>
      <span></span>
      <span></span>
    </div>
</div>